<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
        <link rel ="stylesheet" type="text/css" href="/static/css/global.css">
    <head>
    <body>
        <div class="container">
            <div class='bulletpoints'>
                <ul>
                    <li> Name: Yunlan Li </li>
                    <li> Current Grade: Freshman </li>
                    <li> Intended Major: Computer Science </li>
                    <li> My favorite website: <a href="https://www.youtube.com"> YouTube </a> </li>
                    <li> Visit other pages on my website: 
                        <div> - <a href="rafa"> Rafael Nadal </a> </div> 
                        <div> - <a href="RG"> Roland Garros 2019 Highlights </a> </div>
                    </li>
                </ul>
            </div>

            <div class="profilepic" />
        </div>
    </body>
</html>

